{:fetched "2026-07-05T19:46:46.138110200Z",
 :repos
 [{:name "fastmath",
   :domain :numeric,
   :url "https://github.com/generateme/fastmath",
   :sha "add00ea70dd78afc72ed7d67a415bb22476c7cc8"}
  {:name "neanderthal",
   :domain :numeric,
   :url "https://github.com/uncomplicate/neanderthal",
   :sha "5a0009e9efbe018051a930e1d7c47fa2bb5eb185"}
  {:name "tech.ml.dataset",
   :domain :numeric,
   :url "https://github.com/techascent/tech.ml.dataset",
   :sha "093244187bcc1799d338456f8647c4083c0166b8"}
  {:name "tablecloth",
   :domain :numeric,
   :url "https://github.com/scicloj/tablecloth",
   :sha "71779cacc19d99c928e6ed3a27998c7f39a5fc7c"}
  {:name "incanter",
   :domain :numeric,
   :url "https://github.com/incanter/incanter",
   :sha "f026ede83f8bdac47c96027a7f5c23b41968349e"}
  {:name "geom",
   :domain :graphics,
   :url "https://github.com/thi-ng/geom",
   :sha "95022785e23ee0d40294edfb4ef44e66b7cc1208"}
  {:name "quil",
   :domain :graphics,
   :url "https://github.com/quil/quil",
   :sha "bfe9caf6c78ccbe3e0c9541a542788c51061b4b2"}
  {:name "overtone",
   :domain :graphics,
   :url "https://github.com/overtone/overtone",
   :sha "eb531784b32737b90a44576b169934c3553d817d"}
  {:name "play-cljc",
   :domain :games,
   :url "https://github.com/oakes/play-cljc",
   :sha "f2ed4eb9034d65b2483f22fff86aae27cca83e31"}
  {:name "datascript",
   :domain :data-structures,
   :url "https://github.com/tonsky/datascript",
   :sha "100ab864f55e056df5837e77d44dfd0f8a447983"}
  {:name "data.avl",
   :domain :data-structures,
   :url "https://github.com/clojure/data.avl",
   :sha "2add20d4de5fda6b68c7fadd9ab199554b563a14"}
  {:name "data.priority-map",
   :domain :data-structures,
   :url "https://github.com/clojure/data.priority-map",
   :sha "d8d20c74be6391975b15029c143b8694f750f521"}
  {:name "ordered",
   :domain :data-structures,
   :url "https://github.com/clj-commons/ordered",
   :sha "b5315081f24858e3169923f0de6b9f08bc0dda5a"}
  {:name "core.async",
   :domain :language,
   :url "https://github.com/clojure/core.async",
   :sha "8e6e382d9eefaa3054bfa3834d4e6dbc413cbe2b"}
  {:name "core.logic",
   :domain :language,
   :url "https://github.com/clojure/core.logic",
   :sha "326101fc5d491462ba4cf5ee04d8f1850926d232"}
  {:name "tools.analyzer",
   :domain :language,
   :url "https://github.com/clojure/tools.analyzer",
   :sha "4466d93b73dea129989691f9438e53f64b22dd2f"}
  {:name "tools.reader",
   :domain :language,
   :url "https://github.com/clojure/tools.reader",
   :sha "2914602ff08352a15ae2cdaa49f76e6ca0386818"}
  {:name "sci",
   :domain :language,
   :url "https://github.com/babashka/sci",
   :sha "a9814190e9e98ded3128e1b82e897a145e95124a"}
  {:name "clj-kondo",
   :domain :language,
   :url "https://github.com/clj-kondo/clj-kondo",
   :sha "21f86c1674a894d753f834f50318482c84e66d30"}
  {:name "reitit",
   :domain :web,
   :url "https://github.com/metosin/reitit",
   :sha "5d5c965deb3c7c8d64b8dd636432eaa14f0324ec"}
  {:name "malli",
   :domain :web,
   :url "https://github.com/metosin/malli",
   :sha "a74e3b45efa30b3bcdb2e997f337c71614eba3c5"}
  {:name "ring",
   :domain :web,
   :url "https://github.com/ring-clojure/ring",
   :sha "75914ca942330ae6f8499b0ab9adda4664ad5f1b"}
  {:name "compojure",
   :domain :web,
   :url "https://github.com/weavejester/compojure",
   :sha "8a4758d28e8fcd28fa7610dca6e2908d039e6a4f"}
  {:name "next.jdbc",
   :domain :web,
   :url "https://github.com/seancorfield/next-jdbc",
   :sha "26cc4fccb572196df4d22e285d51c8460a7f7d02"}
  {:name "xtdb",
   :domain :web,
   :url "https://github.com/xtdb/xtdb",
   :sha "9f140e9e267d9396021423a95b8851198f564e7d"}
  {:name "pedestal",
   :domain :web,
   :url "https://github.com/pedestal/pedestal",
   :sha "61b2f5ce18e13ad983b2162204b81d3c2280bec4"}
  {:name "clojure-lsp",
   :domain :tools,
   :url "https://github.com/clojure-lsp/clojure-lsp",
   :sha "95330003145094d41b1cc0f7d81360146dc22e11"}
  {:name "tools.cli",
   :domain :tools,
   :url "https://github.com/clojure/tools.cli",
   :sha "865e988e6af3b2a7ea7fad218ce2160b72157c27"}
  {:name "aws-api",
   :domain :tools,
   :url "https://github.com/cognitect-labs/aws-api",
   :sha "15b85c69565b8e11bcdbd83221ca050d49b5033c"}]}
