# Standard development ignores
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Ignore only the problematic sub-contents of the junction
# This keeps the linter from recursing into heavy folders
lisp-src/.git/**
lisp-src/**/*.fasl
lisp-src/**/*.64xfasl
lisp-src/fasl-cache/**
lisp-src